@page "{id?}"
@model TestMVC.Pages.AccHistoryModel
@{
    Layout = "_AccountLayout";
}

<div class="content-panel">
    <h4 class="red-heading">История заездов</h4>
    <table id="raceHistory" class="cell-border stripe">
        <thead>
            <tr>
                <th>Дата заезда</th>
                <th>Время заезда</th>
                <th>Категория</th>
                @*<th>Карт</th>*@
                <th>Место</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var race in Model.RaceHistory)
            {
                <tr>
                    <td>@race.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@race.StartDate.ToString("HH:mm")-@race.FinishDate.ToString("HH:mm")</td>
                    <td>@race.Category</td>
                    @*<td>@(race.IsDoubleSeater ? "Двухместный" : "Одноместный")</td>*@
                    <td>@race.Position</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="~/css/account.css">

@section Scripts{
    <script type="module" src='@Url.Content("~/js/history.js")'></script>
    <script>
        var menu_link = document.getElementById("acc-menu-link-2");
        menu_link.classList.add("active");

    </script>
}