@page
@model TestMVC.Pages.AdminRaces.EditModel
@{
    ViewData["Title"] = "Редактировать заезд";
    Layout = User.IsInRole("SuperAdmin") ? "_SuperAdminLayout" : "_AdminLayout";

}

<div class="registration-form-wrap">
    <div class="container">
        <form method="post" id="raceEditForm">
            <input type="hidden" asp-for="Input.Id" />
            <div class="row">
                <h4 class="red-heading">Редактирование заезда</h4>
                <div class="reg-label">
                    Заезд @ViewData["RaceDate"], @ViewData["StartTimeDisplay"] - @ViewData["FinishTimeDisplay"]
                </div>
                <label asp-for="Input.OrderId" class="reg-label">Заказ <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <select asp-for="Input.OrderId" id="reg-order" asp-items="Model.Orders" required>
                        <option value="">Выберите заказ...</option>
                    </select>
                    <div class="input-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <span asp-validation-for="Input.OrderId" class="text-danger"></span>
                </div>
                <label class="reg-label">Дата <span class="required">*</span></label>
                <div class="input-group">
                    <input id="inputdate" class="form-control" asp-for="Input.Date" type="text" placeholder="Выберите дату" required readonly>
                    <span class="text-danger" asp-validation-for="Input.Date"></span>
                </div>
                <label class="reg-label">Время <span class="required">*</span></label>
                <div class="input-group">
                    <input id="inputtime" class="form-control" asp-for="Input.Time" type="text" placeholder="Выберите время" required readonly>
                    <span class="text-danger" asp-validation-for="Input.Time"></span>
                </div>
                <label asp-for="Input.RaceCategoryId" class="reg-label">Категория заезда <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <select asp-for="Input.RaceCategoryId" id="reg-category" asp-items="Model.RaceCategories" required>
                        <option value="">Выберите категорию...</option>
                    </select>
                    <div class="input-icon">
                        <i class="fas fa-flag"></i>
                    </div>
                    <span asp-validation-for="Input.RaceCategoryId" class="text-danger"></span>
                </div>
                <label asp-for="Input.RaceStatusId" class="reg-label">Статус заезда <span class="required">*</span></label>
                <div class="input-group input-group-icon">
                    <select asp-for="Input.RaceStatusId" id="reg-status" asp-items="Model.RaceStatuses" required>
                        <option value="">Выберите статус...</option>
                    </select>
                    <div class="input-icon">
                        <i class="fas fa-list"></i>
                    </div>
                    <span asp-validation-for="Input.RaceStatusId" class="text-danger"></span>
                </div>
            </div>

            <button id="submitForm" type="submit" class="red-button">Сохранить изменения</button>
            <div class="back-btn-wrap">
                <a asp-page="./Races" class="btn btn-light">Назад</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/admin.css">
<link rel="stylesheet" href="~/css/registration.css">


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Inject StartTime into global scope for adminRaces.js
        window.raceStartTime = '@ViewData["StartTime"]';
    </script>
    <script type="module" src='@Url.Content("~/js/adminRaces.js")'></script>
}