@model TestMVC.Models.Book
@{
    ViewData["Title"] = "Details";
}

<head>

</head>
<body>
    <table class="table">
        <thead>
            <th>  
                @Html.DisplayNameFor(model => model.Isbn)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.Title)  
            </th> 
            <th>  
                @Html.DisplayNameFor(model => model.Author)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.PagesNum)  
            </th> 
            <th>  
                @Html.DisplayNameFor(model => model.PubYear)  
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Isbn);
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title);
                </td>
                <td>
                    @Html.DisplayFor(model => model.Author);
                </td>
                <td>
                    @Html.DisplayFor(model => model.PagesNum);
                </td>
                <td>
                    @Html.DisplayFor(model => model.PubYear);
                </td>
                <td>  
                    @Html.ActionLink("Edit", "Edit", new { isbn=Model.Isbn  }) |  
                </td>
                <td>
                    <a asp-action="GetBooks">Back to List</a>  
                </td>
            </tr>
        </tbody>
    </table>
</body>
