@*
@page
@model TestMVC.Pages.AdminUsersDetailModel
@{
    ViewData["Title"] = "Аккаунт пользователя";
}

<h1>Аккаунт пользователя</h1>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.CUser.Id</dd>
    <dt class="col-sm-2">ФИО</dt>
    <dd class="col-sm-10">@Model.CUser.UserName</dd>
    <dt class="col-sm-2">Электронная почта</dt>
    <dd class="col-sm-10">@Model.CUser.Email</dd>
    <dt class="col-sm-2">Номер телефона</dt>
    <dd class="col-sm-10">@Model.CUser.PhoneNum</dd>
    <dt class="col-sm-2">Дата рождения</dt>
    <dd class="col-sm-10">@Model.CUser.BirthDate.ToString("yyyy-MM-dd")</dd>
    <dt class="col-sm-2">Роль пользователя</dt>
    <dd class="col-sm-10">@Model.CUser.UserRole</dd>
    <dt class="col-sm-2">Откуда узнали</dt>
    <dd class="col-sm-10">@Model.CUser.FromWhereFoundOut</dd>
    <dt class="col-sm-2">Статус</dt>
    <dd class="col-sm-10">@Model.CUser.Status</dd>
    <dt class="col-sm-2">Примечание</dt>
    <dd class="col-sm-10">@Model.CUser.Note</dd>
</dl>
<a asp-page="./Users" class="btn btn-light">Обратно к списку</a>
@section Scripts{
}
*@