@page
@model TestMVC.Pages.AdminUsersModel
@{
    ViewData["Title"] = "Панель администратора: Пользователи";
    Layout = User.IsInRole("SuperAdmin") ? "_SuperAdminLayout" : "_AdminLayout";
}

<div id="admin-users-main-wrap">
    <div class="row">
        <a asp-page="./Create" id="users-add-icon" type="button" class="add-btn admin-menu-icon" title="Добавить пользователя">
            <i class="fa fa-user-plus fa-lg"></i>
        </a>
    </div>

    <table id="adminUsersMain" class="cell-border hover stripe">
        <thead>
            <tr>
                <th></th> <!-- Control column for expand/collapse -->
                <th>ID</th>
                <th>Дата регистрации</th>
                <th>ФИО</th>
                <th>Электронная почта</th>
                <th>Телефон</th>        
                <th>Дата рождения</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                var status = @user.LockoutEnd.HasValue ? "Заблокирован" : "Активен";
                <tr data-from-where="@user.FromWhereFoundOut" data-note="@user.Note">
                    <td></td> <!-- Control column -->
                    <td>@user.Id</td>
                    <td>@user.RegistrationDate.ToString("yyyy-MM-dd")</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@string.Join(", ", await Model.GetUserRolesAsync(user.Id))</td>
                    <td>@status</td>
                    <td>
                        <a asp-page="/Account/Acc" asp-route-id="@user.Id" class="admin-menu-icon" id="user-details-icon" title="Просмотр аккаунта пользователя">
                            <i class="fas fa-search fa-lg"></i>
                        </a> |
                        <a asp-page="./Edit" asp-route-id="@user.Id" class="admin-menu-icon" id="users-edit-icon" title="Редактировать данные пользователя">
                            <i class="fa fa-edit fa-lg"></i>
                        </a> |
                        <form method="post" asp-page-handler="Delete" asp-route-id="@user.Id" class="d-inline">
                            <button type="submit" class="admin-menu-icon btn btn-link p-0" id="users-delete-icon" title="Удалить аккаунт пользователя"
                                    onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?')">
                                <i class="fa fa-trash fa-lg text-danger"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<link rel="stylesheet" href="~/css/admin.css">

@section Scripts{
    <script type="module" src='@Url.Content("~/js/adminUsers.js")'></script>
}