@page
@model TestMVC.Pages.AdminUsersModel
@{
    ViewData["Title"] = "Панель администратора: Пользователи";
}

<div id="admin-users-main-wrap">
    
    <div class="row">
        <a asp-page="./Create" id="users-add-icon" type="button" class="add-btn admin-menu-icon" title="Добавить пользователя">
            <i class="fa fa-user-plus fa-lg"></i>
        </a>
        
    </div>

    <table id="adminUsersMain" class="cell-border stripe">
        <thead>
            <th>ID</th>
            <th>ФИО</th>
            <th>Электронная почта</th>
            <th>Телефон</th>        
            <th>Дата рождения</th>
            <th>Роль</th>
            <th>Откуда узнали</th>
            <th>Статус</th>
            <th>Примечание</th>
            <th>Действия</th>
        </thead>
        <tbody>
            @foreach (var user in Model.Users){
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNum</td>
                    <td>@user.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@user.UserRole</td>
                    <td>@user.FromWhereFoundOut</td>
                    <td>@user.Status</td>
                    <td>@user.Note</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@user.Id" class="admin-menu-icon" id="users-details-icon" title="Просмотр аккаунта пользователя">
                            <i class="fas fa-search fa-lg "></i>
                        </a> |
                        <a asp-page="./Edit" asp-route-id="@user.Id" class="admin-menu-icon" id="users-edit-icon" title="Редактировать данные пользователя">
                            <i class="fa fa-edit fa-lg"></i>
                        </a> |
                        <a asp-page="./Delete" asp-route-id="@user.Id" class="admin-menu-icon" id="users-delete-icon" title="Удалить аккаунт пользователя">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="~/css/admin.css">

@section Scripts{
    <script type="module" src='@Url.Content("~/js/admin.js")'></script>
}


